@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../public/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Plus Jakarta Sans Italic';
  src: url('../public/assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

/* 
  Colors
  - Primary colors
  - Accent colors
  - Neutral colors
*/

:root {
  /* Colors - Primary*/
  --lime: hsl(61, 70%, 52%);
  --lime-light: hsla(61, 70%, 52%, 80%);
  --lime-lighter: hsla(61, 70%, 52%, 20%);
  /* Colors - Accent */
  --red: hsl(4, 69%, 50%);
  /* Colors - Neutral */
  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
  --slate-1000: hsl(202, 55%, 14%);
  /* Typography */
  --text-size-body: 16px;
  --text-size-big: 24px;
  --text-size-black: 48px;
  --text-weight-regular: 500;
  --text-weight-bold: 700;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans';
  font-size: var(--text-size-body);
  background: var(--slate-100);
  color: var(--slate-900);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li,
ol,
dl {
  list-style: none;
}

input {
  outline: none;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.output-block {
  padding: 1rem;
  width: 100%;
}

.input-block {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 1rem;
  width: 100%;
}

.input-block__header {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.heading {
  font-size: 24px;
  width: 100%;
}

.input-block__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-block__footer {}

.output-block {
  background-color: var(--slate-900);
  color: var(--slate-100)
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group__input-container {
  border: 1px solid var(--slate-500);
  height: 48px;
  display: flex;
  border-radius: 5px;
  background-clip: padding-box;
  background: var(--white);
  overflow: hidden;
  cursor: pointer;
}

.input-group__input-container:hover {
  border-color: var(--slate-900);
  cursor: pointer;
}

.input-group__input-container:active,
.input-group__input-container:focus,
.input-group__input-container:focus-within {
  border-color: var(--lime);
}

.input-group__input-slot {
  background-color: var(--slate-100);
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  background-clip: padding-box;
  font-weight: var(--text-weight-bold);
  color: var(--slate-700);
}


.input-group__input-container:active .input-group__input-slot,
.input-group__input-container:focus .input-group__input-slot,
.input-group__input-container:focus-within .input-group__input-slot {
  background-color: var(--lime);
}

.input-group__input {
  flex-grow: 2;
  border: none;
  outline: none;
  height: 100%;
  background-color: transparent;
  padding-left: 16px;
  font-weight: var(--text-weight-bold);
  cursor: pointer;
}

.radio-input-group {
  padding: 0;
  border: 0;
}

.radio-input-group__group-label {
  margin-bottom: 8px;
}

.radio-input-group__group-label--required::after {
  content: ' *';
  color: var(--green-600);
}

.radio-input-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.radio-input-list__item {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid var(--slate-500);
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio-input-list__item:hover,
.radio-input-list__item--active {
  border-color: var(--lime);
}

.radio-input-list__item--active {
  background-color: var(--lime-lighter);
}

.button {
  width: 100%;
  height: 48px;
  padding: 16px 48px;
  border-radius: 90px;
  font-weight: var(--text-weight-bold);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.button--primary {
  background-color: var(--lime);
  border: 1px solid var(--lime);
}

.button--primary:hover {
  background-color: var(--lime-light);
}

.button--ghost {
  width: fit-content;
  background-color: transparent;
  border: 1px solid transparent;
  font-weight: var(--text-size-body);
  text-decoration: underline;
  padding: 16px 0;
}

.button-text-icon {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 100%;
}


.empty-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 1rem;
}

.empty-output .output-text {
  text-align: center;
}

.output-text {
  color: var(--slate-300);
}

.output-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.output-card {
  background-color: var(--slate-1000);
  border-radius: 5px;
  padding: 24px 16px;
  border-top: 3px solid var(--lime);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.output-card__title {
  color: var(--slate-300);
  font-weight: var(--text-weight-regular);
  font-size: var(--text-size-body);
}

.output {
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-big);
}

.output--accent {
  color: var(--lime);
}

.output--big {
  font-size: var(--text-size-black);
}


.separator {
  background-color: var(--slate-500);
  height: 1px;
  margin: 16px 0;
}