* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  /* Colors - primary */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  /* Colors - neutral */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);

  /* Typography */
  --text-weight-regular: 400;
  --text-weight-bold: 700;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: var(--green-200);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}