@font-face {
  font-family: 'Karla';
  src: url('../public/assets/fonts/Karla-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Karla Italic';
  src: url('../public/assets/fonts/Karla-Italic-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  /* Colors - primary */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  /* Colors - neutral */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);

  /* Typography */
  --text-weight-regular: 400;
  --text-weight-bold: 700;
  --text-size-body: 16px;
  --text-size-big: 18px;
  --text-size-bigger: 20px;
  --text-size-title: 24px;
  --text-size-big-title: 30px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: var(--green-200);
  font-size: var(--text-size-body);
  font-family: 'Karla';
  color: var(--grey-900);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Components */
.page {
  padding: 2rem;
}

.contact-form {
  padding: 2rem;
  background-color: var(--white);
  width: 100%;
  margin: auto;
  border-radius: 15px;
}

.contact-form__header {
  font-size: var(--text-size-big);
  font-weight: var(--text-weight-bold);
  margin-bottom: 2rem;
}

.contact-form__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form__footer {
  margin-top: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input-block {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.input-group__label {}

.input-group__label--required::after {
  content: ' *';
  color: var(--green-600);
}

.input-group__error-message {
  color: var(--red);
}

.input-group__input[type='text'],
.input-group__input[type='email'],
.input-group__textarea {
  height: 3rem;
  border-radius: 10px;
  border: 1px solid var(--grey-500);
  outline: none;
  padding-left: 24px;
  padding-right: 24px;
}

.input-group__textarea {
  height: 12rem;
}


.input-group__input:hover {
  border-color: var(--green-600);
}

.input-group__input:active {
  border-color: var(--green-600);
}

.input-group__input.input-group__input--error,
.input-group__input:invalid,
.input-group__textarea.input-group__input--error,
.input-group__textarea:invalid {
  border-color: var(--red);
}

.checkbox-input-group {
  display: flex;
  flex-direction: column;
}

.checkbox-input-group__main {
  display: flex;
  gap: 8px;
}

.checkbox-input-group__label {}

.checkbox-input-group__label--required::after {
  content: ' *';
  color: var(--green-600);
}

.checkbox-input-group__input {}

/* Component - Atomic */
.button {
  height: 3rem;
  border: 1px solid var(--green-600);
  background: var(--green-600);
  color: var(--white);
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 5px;
  width: 100%;
  font-weight: var(--text-weight-bold);
  transition: all ease 200ms;
  cursor: pointer;
}

.button:hover {
  background-color: var(--grey-900);
}

.button:active {
  background-color: var(--green-600);
}


.toast {
  padding: 24px;
  background-color: var(--grey-900);
  color: var(--white);
  width: fit-content;
  max-width: 95%;
  border-radius: 10px;
  margin: auto;
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
}

.toast__header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: var(--text-weight-bold);
  margin-bottom: 8px;
}

.toast__content {}